.avue-sidebar {
    user-select: none; 
    position: relative;
    padding-top: 74px;
    height: 100%;
    position: relative;
    background-color: #0B59A1;
    transition: width .2s;
    box-sizing: border-box;
    box-shadow: 2px 0 6px rgba(0,0,0,.35);
    svg{
        color: white!important;
        span{
            color: white!important;
        }
    }
    &--tip{
        width:90%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        position: absolute;
        top:5px;
        left:5%;
        color:#ccc;
        z-index: 2;
        text-align: center;
        font-size: 16px;
        background-color: #0B59A1;
    }
    .el-menu-item,
    .el-submenu__title {
        font-size: 16px;
        height: 56px;
        line-height: 56px;
        
    }
    .el-menu-item {
        span,i{
            color:white
        }
        &:hover {
            background-color: #0A68BE;
            color: #fff;
            span,
            i {
                color: #fff;
            }
        }
        &.is-active {
            background-color: #0A68BE;
            span,
            i {
                color: #fff;
            }
            &:hover {
                background-color: #0A68BE;
            }
            &::before {
                content: " ";
                top: 0;
                left: 0;
                bottom: 0;
                width: 4px;
                background: $mainBg;
                position: absolute
            }
        }
    }
    .el-submenu__title {
        span,i{
            color:rgba(255, 255, 255, 0.7);
        }
        &:hover {
            i,
            span {
                color: #fff;
            }
            background-color:#0A68BE ;
        }
    }
    .el-submenu .el-menu-item {
        height: 50px;
        line-height: 50px;
        span,i{
            color:rgba(255, 255, 255, 0.7);
        }
        &.is-active {
            background-color: #0A68BE;
            span,
            i {
                color: #fff
            }
            &:hover {
                background-color: #0A68BE;
            }
        }
        
        &:hover {
            background-color: #0A68BE;
            span,
            i {
                color: #fff;
            }
        }
    }
   

    .el-scrollbar__wrap{
  overflow-x: auto;
  overflow-y: auto;
}

   
}
.el-menu--vertical{
    .el-menu.el-menu--popup.el-menu--popup-right-start{
        background-color: #0B59A1!important;
        color: white;
        .el-menu-item.is-active.is-active{
            background-color: #0A68BE
        }
    }
    .el-menu-item{
        color: white;
        &:hover{
            background-color: #0A68BE;
        }
    }
}